body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f1f1;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e5c1cd;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease-out;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #111;
    transform: scale(1.1);
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: url('images/background.jpg') no-repeat center center/cover;
    color: #2e2e2e;
    position: relative;
    overflow: hidden;
}

.hero h1, .hero p {
    margin: 0;
    padding: 10px;
    animation: slideIn 1s ease-out;
}

.hero h1 {
    font-size: 48px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.player-list, .faction-list {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
}

.player-list h2, .faction-list h2 {
    font-size: 28px;
    color: #333;
    animation: fadeInUp 0.5s ease-out;
}

#playerRanking, #factionRanking {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#playerRanking li, #factionRanking li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, transform 0.3s;
    animation: fadeInUp 0.5s ease-out;
}

#playerRanking li:hover, #factionRanking li:hover {
    background-color: #f1f1f1;
    transform: translateX(5px);
}

#playerRanking li img, #factionRanking li img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #e5c1cd;
    color: #333;
    margin-top: 20px;
    animation: fadeInUp 0.5s ease-out;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
